*{
    box-sizing: border-box;
    color: white;
}
.mp{
    background-image: url(IMG_20220131_230537_624.PNG);
    background-size: 100% 100%;
    height: fit-content;
}

label{
    display: block !important;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
input{
    width: 50% !important;
    border: none !important;
    color: rgba(66, 30, 9, 0.849) !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:focus{
    outline: none !important;
    box-shadow: cornsilk 5px 5px 20px;
    border: none !important;
    transition: all .3s;
}

.productAd{
    margin-top: 20px !important;
    background-color: rgb(214, 91, 34) !important;
    color: white !important;
    transition: all .4s !important;
}
.productAd:hover{
    background-color: white !important;
    color: rgb(5, 5, 5) !important;
    box-shadow: rgb(230, 68, 68) 2px 2px 20px !important;

}













@media screen and (max-width:568px)  
{
    input{
        width: 80% !important;
    }
    tr{
        font-size: 12px !important;
        font-weight: 600 !important;
    }
  
}